@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Young+Serif&display=swap');
.navbar
{
    height: 9vh;
    width: 100vw;
    background-color: black;
    display : flex;
    justify-content: space-between;
    align-items: center;
  }

.navbar-left
{
    display : flex;
    justify-content: end;
    align-items: center;
    gap : 15px;
    width : 50vw;
    height: 9vh;
    margin-right: 1rem;
}
.logo-image{
    height: 4rem;
    margin-left: 20px;
}

.element-button{
    display : flex;
    align-items: center;
    justify-content: center;
    padding : 8px 8px 8px 10px;
    background-color: black;
    border : none;
    color : #F2F2F2;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.element-button:hover{
  background-color: #333;
  border-radius: 5px;
  padding : 8px 8px 8px 10px;
  
}

.navbar-right{
  display : flex;
  justify-content: start;
  align-items: center;
  height: 9vh;
  width : 50vw;
  gap : 50px;
  margin-top: 3px;
}

.navbar-left button{
  border : 0px;
  padding : 5px 8px 5px 8px;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color : white;
  font-size: larger;
}

.navbar-left button:hover{
  cursor : pointer;
  background-color: #F2F2F2;
  color : black;
  transition: ease-in-out 0.3s;
}



