@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Young+Serif&display=swap');
.navbar
{
    height: 9vh;
    width: 100vw;
    background-color: black;
    display : flex;
    justify-content: space-between;
    align-items: center;
  }

.navbar-left
{
    display : flex;
    justify-content: end;
    align-items: center;
    gap : 10px;
    width : 50vw;
    height: 9vh;
    margin-right: 1rem;
}
.logo-image{
    height: 4rem;
    margin-left: 20px;
}
.btn {
    position: relative;
    overflow: hidden;
    height: 35px;
    padding: 0 2rem;
    border-radius: 8px;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    font-weight: bold;
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }


.element-button{
    display : flex;
    align-items: center;
    justify-content: center;
    padding : 8px 8px 4px 10px;
    background-color: black;
    border : none;
    color : #F2F2F2;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
}

.element-button:hover{
  background-color: #333;
  border-radius: 5px;
  padding : 8px 8px 4px 10px;
  
}

.navbar-right{
  display : flex;
  justify-content: start;
  align-items: center;
  height: 9vh;
  width : 50vw;
  gap : 90px;
}