.product-card-body{
    border : 2px solid black;
    height: 230px;
    width : 360px;
    margin : 4px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 8px;
}
.product-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 360px;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    /* position : absolute; */
}